<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/themes/main.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/edit-page.css}">
    <link rel="stylesheet" th:href="@{/css/view-page.css}">
    <title>Library: reader page</title>
</head>
<body>
<div th:insert="~{fragments/header :: #header-section}"></div>

<form th:method="POST" th:action="@{/readers}" th:object="${person}">
    <div class="scrollable-panel">
        <div class="page-title-field">
            <div class="page-title-align">
                <img th:src="@{/images/person.png}" alt=""/>
            </div>
        </div>

        <div class="form-wrapper">
            <div class="section-big">Enter full name:
                <label>
                    <input class="field" th:type="text" th:field="*{fullName}" id="fullName" th:size="50">
                </label>
                <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error
                </div>
            </div>
            <div class="section-small">Enter year of birth:
                <label>
                    <input class="field" th:type="text" th:field="*{yearOfBirth}" id="yearOfBirth" th:size="50">
                </label>
                <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year
                    error
                </div>
            </div>

            <div class="spacer"></div>

            <div class="button-section">
                <form class="form-spacer-right">
                    <button class="green-submit-button" type="submit">Create</button>
                </form>
                <form class="form-spacer-left" th:method="GET" th:action="@{/readers}">
                    <button class="red-cancel-button" type="submit">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</form>

<div th:insert="~{fragments/footer :: #footer-section}"></div>
</body>
</html>