<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library: the reader</title>
</head>
<body>
<h2>The reader information</h2>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">name</p>

<div th:if="${books.isEmpty()}">
    <p th:text="'The man has not picked up any books yet'"/>
</div>
<div th:unless="${books.isEmpty()}">
    <h3>Taken books:</h3>
    <p th:each="book : ${books}" th:value="${book.getId()}" th:text="${book.getTitle()}"/>
</div>


<hr/>
<form th:method="GET" th:action="@{/readers/{id}/edit(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Edit"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/readers/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>