<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/themes/main.css}">
    <link rel="stylesheet" th:href="@{../css/common.css}">
    <link rel="stylesheet" th:href="@{../css/view-page.css}">
    <link rel="stylesheet" th:href="@{../css/edit-page.css}">
    <title>Library: reader page</title>
</head>
<body>
<div th:insert="~{fragments/header :: #header-section}"></div>

<div class="page-title-field">
    <div class="page-title-align">
        <img th:src="@{../images/person.png}" alt=""/>
    </div>
</div>

<div class="scrollable-panel">
    <div class="form-wrapper">
        <div class="element-name">
            <span th:text="${person.getFullName()}"/>
            <a class="no-underline-anchor" th:href="@{/readers/{id}/edit(id=${person.getId()})}">
                <img th:src="@{../images/edit.png}" alt=""/>
            </a>
        </div>

        <div class="element-fields">
            <p>
                <span class="element-fields-header" th:text="'Year of birth: '"/>
                <span class="text-color" th:text="${person.getYearOfBirth()}"/>
            </p>
        </div>

        <div class="spacer"></div>

        <div class="element-fields" th:if="${books.isEmpty()}">
            <p>
                <span class="element-fields-header" th:text="'The man has not picked up any books yet'"/>
            </p>
        </div>
        <div class="element-fields" th:unless="${books.isEmpty()}">
            <div>
                <span class="element-fields-header" th:text="'Taken books: '"/>
                <br/>
                <p class="elements-of-list" th:each="book : ${books}" th:value="${book.getId()}"
                   th:text="${book.getTitle()}"/>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="button-section">
            <form th:method="GET" th:action="@{/readers}">
                <button class="red-cancel-button" type="submit">Escape</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer :: #footer-section}"></div>
</body>
</html>